@inject NavigationManager navigationManager

<h3>Login</h3>
<br />

@if (viewModel != null)
{
    <EditForm Model="viewModel" OnInvalidSubmit="HandleValidSubmit" class="form-line">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="username">User Name</label>
            <InputText id="username" @bind-Value="viewModel.UserName" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="pwd">Password</label>
            <InputText id="pwd" type="password" @bind-Value="viewModel.Password" class="form-control"></InputText>
        </div>
        <br />

        <button type="submit" class="btn btn-primary" @onclick="HandleValidSubmit">Login</button>

    </EditForm>
}

@code{
    private LoginViewModel viewModel;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        viewModel = new LoginViewModel();
    }

    public void HandleValidSubmit()
    {
        navigationManager.NavigateTo($"/login?user={viewModel.UserName}&pwd={viewModel.Password}", forceLoad: true);
    }
}